body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #f7eee6;
  color: black;
  font-family: Tahoma;
  font-size: 16px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  height: 50px;
  background-color: #f7d9c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
  top: 0;
}
nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: black;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}
li > a {
  color: inherit;
  text-decoration: none;
}
.top-page{
  box-shadow: 10px 10px 30px gray;
  border-radius: 5px;
  width: 70%;
  display: grid;
  grid-template:  "p p btn" auto  
                  "p p btn" auto
                  "search search search" auto / 65% 1fr 1fr;
  gap: 10px;
  padding: 20px;
  margin: 50px auto 30px auto;
  
}
.about-me{
  grid-area: p;
  padding: 10px;
}

.search-box{
  grid-area: search;
  padding: 10px;
  border-radius: 5px;
}

.btn_recipe{
  grid-area: btn;
  padding: 5px 15px;
  text-align: center;
  border-radius: 5px;
  width: fit-content;
  justify-self: center;
  align-self: center;
}

#recipe-form {
  display:none;
  padding: 40px;
  box-shadow: 10px 10px 30px gray;
  border-radius: 5px;

  
}
.form_section{
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  label{
      display: block;
      margin: 0.5rem 0;
  }
  input, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    font-family: Tahoma;
  }
  textarea {
    margin: 20px;
    width: 92%;
    min-height: 2em;
    font-family: Tahoma;
  }

}
fieldset:last-of-type {
  border-bottom: none;
}

.ing-amo label{
  display: inline-grid;
  margin: 0.5rem;
}


.sub-btn {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: white;
  border-color: white;
 
}


footer {
  background-color: #f7d9c5;
  display: flex;
  justify-content: center;
}



